@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
.App {
  display: flex;
  text-align: center;
  /* font-family: "Bebas Neue", cursive; */
  font-family: 'Recursive', sans-serif;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#submitted {
  display: none;
}


.App-body {
  display: flex;
  background-color: #F1FAEE;
  justify-content: center;
  justify-self: center;
  width: 50%;
  height: 60%;
  padding: 3em;
}

label {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: cadetblue;
}
label.habitLabel {
  width: 450px;
  color: brown;
  font-size: 30px;
  font-weight: 600;
}
.todaysTask {
  margin: 10px;
  padding: 5px;
  /* justify-content: center; */
  float: center;
  padding-left: 100px;
}
img.habitimage {
  width: 70px;
}

span#drinks {
  background-color: #61dafb;
}
span#activities {
  background-color: #ff915a;
}
span#food {
  background-color: #aef6c7;
}
span#lifestyle {
  background-color: #cda6c6;
}
span#nature {
  background-color: #f9d64c;
}
span#education {
  background-color: #ba919b;
}
span#household {
  background-color: #ffafa9;
}
span#sports {
  background-color: #ddc9a9;
}
span#hygiene {
  background-color: #fea7d8;
}
div#showHabit {
  display: none;
}
div#habitDisplay {
  display: block;
}


p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: brown;
  font-weight: 600;
}
button#navButton {
  background-color: #E63946;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  color: #F1FAEE;
}

button#navButton:hover {
  background-color: #9c2630;

}
button.loginButton, #signUpbutton {
  padding: 10px 15px 10px 15px;
  margin-right: 25px;
  background-color: #1D3557;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  
}

button.loginButton:hover, #signUpbutton:hover {
  background-color: #101e31;
}
div#HomePage {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  min-height: 95vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  
}
div#formArea {
  background-color: #F1FAEE;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 50%;
  height: 60%;
  padding: 3em;
  /* color: brown; */
}
nav#navigation {
  display: flex;
  background-color: #1D3557;
  position: fixed;
  width: 100%;
  z-index: 1;
  top:0;
  left: 0;
  right: 0;
}
.navButtons{
  display: flex;
  
}
nav#navigation h3 {
  color: #F1FAEE;
  font-size: 2em;
}
div#habitCheckDiv {
  background-color: #f0aa60;
}
img.habitimage1 {
  width: 50px;
}
div#viewHabit {
  width: 800px;
}
span.input-group-text {
  width: 250px;
  height: 100px;
}
div#aside1 {
  margin: 10px;
}
button.btn.btn-primary.btn-lg.btn-block {
  background-color: #e97929;
  border: none;
  padding: 10px;
}

@media only screen and (max-width: 600px)  {
  nav#navigation h3 {
  
    font-size: 15px;
  }
  #navButton {
    font-size: 7px;
  }
  .App-body {
    margin-top: 3em;
    width: 80%;
  }
  nav#navigation {
    padding: 2px;
  }

}