.mainPage {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.mainImage {
    display: flex;
    flex: 2;
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}
.mainImage h1 {
    font-size: 6em;
    color: #457b9d;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainDescription {
    display: flex;
    flex: 1;
    background-color: #F1FAEE;
    justify-content: center;
    align-items: center;
}